<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">About</title>
</head>
<body>

	<section>

		<div class="card mr-3 mt-2">
			<div class="cardbody mt-2">
				<h1 class="text-center mt-4">Update Contact</h1>
				<div class="container-fluid mt-4">
					<div class="row">
						<div class="col-md-8 offset-md-1 mt-4">
						
							<form action="#" 
							      th:object="${contact}"
								  enctype="multipart/form-data" 
								  method="POST"
								  th:action="@{/user/process-update}" 
								  class="mt-1">
								  
								  <input type="hidden" th:value="${contact.cId}" name = "cId"/>
								  

								<!-- First Name -->
								<div class="input-group">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>

									<input th:value="${contact.name}" required type="text"
										id="Enter Name" name="name" placeholder="First name"
										class="form-control">

								</div>

								<!-- Second Name -->
								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>

									<input th:value="${contact.secondName}" type="text"
										id="secondName" name="secondName" placeholder="Nick name"
										class="form-control">
								</div>

								<!-- phone -->
								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone"></i>
										</div>
									</div>

									<input th:value="${contact.phone}" type="number" id="phone"
										name="phone" placeholder="Phone Number" min=10
										class="form-control" required>
								</div>

								<!-- Email -->
								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text">@</div>
									</div>

									<input th:value="${contact.email}" type="email" id="email"
										name="email" placeholder="Email ID" class="form-control">
								</div>

								<!-- Work Field -->
								<div class="input-group mt-3">

									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>

									<input th:value="${contact.work}" type="text" id="work"
										name="work" placeholder="Profession" class="form-control">
								</div>

								<!-- Contact description -->
								<div class="form-group mt-3">

									<textarea th:text="${contact.description}" name="description"
										id="description" class="form-control" 
										placeholder="Enter some Description" rows="20" cols="">
									</textarea>

								</div>


								<!-- Contact Image  -->
								
								<div class= "container text-center">
								<img style="height:50px" class= "img-fluid my_profile-picture" 
								     th:src="@{'/img/'+${contact.image}}"/>
								     
								<br/>
								
								
								</div>
								
								<div class="custom-file">

									<input type="file" name="profileImage">


								</div>

								<!-- Save Button -->
								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Save Contact</button>

								</div>

							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#description'
			});
		</script>


	</section>

</body>
</html>