<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center">

		<div class= "text-center">

			<h1 class="font-weight-bold">Smart Contact Manager</h1>

			<p>Start a smart way to collect contacts. We provide you best way
				to manipulate and store contacts.</p>
				
				<button class = "btn bg-primary btn-lg text-white">Let's Start..!</button>

		</div>
	</section>

</body>
</html>